@use "sass:list";
@use "../../scss/abstracts/reset.scss";
@use "../../scss/abstracts/breakpoints.scss";
@use "../../scss/abstracts/center.scss";
@use "../../scss/abstracts/colors.scss";
@use "../../scss/abstracts/typography.scss";
@use "../../scss/abstracts/sr-only.scss";

.progress-meter {

  @include center.center-h;
  position: absolute;
  width: 100vw;
  height: 10rem;
  left: 50%;
  bottom: 1rem;
  height: 30vh;

  @media (min-width: breakpoints.bp(xs)) {
    bottom: 0rem;
  }

  @media (min-width: breakpoints.bp(sm)) {
    top: auto;
    bottom: 0;
  }


  .meter {
    position: relative;
  }

  .onboarding-rewards {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: colors.c(accent--light);

    @media (min-width: breakpoints.bp(md)) {
      max-width: 70vw;
    }

    h2 {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1.25;
    }

    ul {
      position: relative;
      list-style: none;
      margin: 0 auto;
      padding: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        aspect-ratio: 1/1;
        width: 4.75rem;
        height: 4.75rem;
        position: relative;
        background-color: colors.c(accent--mid);
        border-radius: 50%;
        z-index: 5;
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);

        span {
          display: block;
          font-size: typography.size(smallest);
          font-weight: 900;
          width: 100%;
          padding: 0.5rem;
          vertical-align: middle;
          @include center.center--abs;
          line-height: 1;
        }

        .reward {
          position: relative;
          margin-top: 2.325rem;
          font-size: typography.size(bigger);
          font-weight: 900;
          line-height: 110%;
        }

        .emitter-canvas {
          @include center.center;
          position: absolute;
          z-index: 5;
          width: 20rem;
          height: 20rem;
        }

        &.visited,
        &.active {
          background-color: colors.c(accent--light);
          span {
            color: colors.c(accent--dark);
          }
        }
      }
    }
  }

  .percent-indicator__outer {
    box-sizing: border-box;
  }

  .progress-meter__indicator {

    @include center.center-h--abs;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 8px;

    @media (min-width: breakpoints.bp(sm)) {
      top: 47%;
    }

    .bar {
      border-radius: 1rem;
      background-color: colors.c(accent--mid);
      text-align: left;
      height: 0.325rem;
      position: relative;
      top: 0;
      width: 55vw;
    }

    .percent-indicator__outer {
      position: relative;
      width: 100%;
    }

    .percent-indicator__inner {
      position: absolute;
      transition-timing-function: ease-in;
      transition-property: width, opacity;
      transition-duration: 0.5s;
      background-color: colors.c(accent--light);
    }
  }
}
