@use '../../scss/abstracts/colors';
@use '../../scss/abstracts/typography';

.button {
  width: 400px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  display: block;
  background-color: colors.c('green');
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  font-size: typography.size(tertiary);
}
