@use "sass:math";

@mixin center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
}

@mixin center-rot {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 0, 0);
  transform-origin: center;
}

@mixin center-scaled($pct) {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(math.div($pct * 0.1,10), math.div($pct * 0.1,10), 1);
  transform-origin: center;
}
