@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

$text-color: #222;

$fontsizes: (
  "primary": 56px,
  "secondary": 27px,
  "tertiary": 21px,
  "bigger": 18px,
  "body": 16px,
  "smaller": 14px,
  "smallest": 12px,
);

@function size($key) {
  @return map-get($fontsizes, $key);
}


%primary {
  font-size: size(primary);
}

%secondary {
  font-size: size(secondary);
}

%tertiary {
  font-size: size(tertiary);
}

%bigger {
  font-size: size(bigger);
}

%body {
  font-size: size(body);
}

body {
  @extend %body;
  font-family: sans-serif;
  color: $text-color;
  line-height: 1.5;
  @extend %body;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
}

h1 {
  @extend %primary;
}

h2 {
  @extend %secondary;
}

h3 {
  @extend %tertiary;
}
