.demo__controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba(white, 0.85);
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(#000, 0.7);
  transform: translateZ(100vh);

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      a {
        display: block;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
