@use "../../scss/abstracts/breakpoints";

#card-showcase-xp {

  .showcase {
    padding: 4rem;
    padding-bottom: 12rem;
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    z-index: 30;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .card {
      aspect-ratio: 5/7;
      $w: calc( 50vw - 4rem);
      width: $w;
      height: calc((7/5)*$w);

      @media (min-width: breakpoints.bp(sm)) {
        $w: calc( 25vw - 4rem);
        width: $w;
        height: calc((7/5)*$w);
      }

      @media (min-width: breakpoints.bp(md)) {
        $w: calc( 20vw - 4rem);
        width: $w;
        height: calc((7/5)*$w);
      }
    }

    @media (min-width: breakpoints.bp(sm)) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: breakpoints.bp(md)) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
