@use "./abstracts/_typography.scss";
@use "./abstracts/_reset.scss";

html,
body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  min-height: 100vh;
  transform: translateZ(0);
  overflow:hidden;
}

.slide-deck {
  background-color: #fafafa;
  position: relative;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  width: 1000vw;
  display: flex;
  height: 100vh;

  .slide {
    position: relative;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    &.accent-bg {
      background: radial-gradient(75.74% 69.58% at 50% 15.04%, #7D10DE 0%, #330059 100%);
    }
  }
}
